<table width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#222222" align="center">
                <tbody>
                    <tr>
                    </tr>
                    <tr>
                        <td width="20">&nbsp;</td>
                        <td width="410"><p style="display:block;font-size:22px; font-family:Georgia; font-style: italic; color:#ffffff;"> <a alt='http://www.bigpopust.com/sr/strane/bigpopust-casti' style="color:#fcaef6;" target="_blank" title="BiGpopust Vas Äasti!"  href="http://www.bigpopust.com/sr/strane/bigpopust-casti">BiGpopust Vas Äasti!</a></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table width="640" cellspacing="0" cellpadding="0" align="center" style="border-bottom:3px solid #454545;">
                <tbody>
                    <tr>
                        <td style="background-color:#eeeeee">
                        <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td width="250" valign="top" style="padding:23px 0"><a target="_blank" title="Go to the Website" alt="http://www.bigpopust.com/" href="http://www.bigpopust.com/"><img width="226" height="115" border="0" src="http://www.bigpopust.com/images/logo.png" style="display:block;font-size:25px;color:#333333" alt="BiGpopust.com"></a></td>
                                    <td width="350" valign="top" style="padding:23px 0">
                                    	  <p style="color:#333333;font-size:16px;line-height:1.3empx;margin-top:0;margin-bottom:20px;margin-right:30px">BiGpopust.com je web sajt koji Vam omoguÄ‡ava kupovinu najpopularnijih
usluga u VaÅ¡em gradu po HIT cenama uz OGROMNE popuste i do 90%!<br>

Ali, ovo nije sve...<br>
BiGpopust uvek daje viÅ¡e!!!<br>

Na svakih 5 kupljenih vauÄera koji Vam se sabiraju, 6. dobijate GRATIS,
jer nam je zadovoljstvo naÅ¡ih kupaca najvaÅ¾nije.<br>

VaÅ¡e je da uÅ¾ivate, a ostalo prepustite nama, neÄ‡emo Vas izneveriti!!!</p>
                                    <p style="color:#333333;font-size:14px;line-height:17px;font-weight:bold;margin-top:0;margin-bottom:10px">Email
se loÅ¡e prikazuje, kliknite <a target="_blank" alt="http://www.bigpopust.com/" href="http://www.bigpopust.com/">OVDE.</a></p>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- PONUDE -->
                    
                    <tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Samo 420 rsd za dve porcije lignji  (frigane ili na zaru) sa  krompir salatom ili krompir, blitva + GRATIS tulumbe</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>420</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/samo-420-rsd-za-dve-porcije-lignji-frigane-ili-na-zaru-sa-krompir-salatom-ili-krompir-blitva-gratis-tulumbe/10752' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/samo-420-rsd-za-dve-porcije-lignji-frigane-ili-na-zaru-sa-krompir-salatom-ili-krompir-blitva-gratis-tulumbe/10752'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1400 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>70 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>980 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/samo-420-rsd-za-dve-porcije-lignji-frigane-ili-na-zaru-sa-krompir-salatom-ili-krompir-blitva-gratis-tulumbe-10752-627736.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Samo  450 rsd za DVE porcije pohovane piletine sa susamom + prilog grilovano povrce + GRATIS tulumbe ili knedle</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>450</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/samo-450-rsd-za-dve-porcije-pohovane-piletine-sa-susamom-prilog-grilovano-povrce-gratis-tulumbe-ili-knedle/17661' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/samo-450-rsd-za-dve-porcije-pohovane-piletine-sa-susamom-prilog-grilovano-povrce-gratis-tulumbe-ili-knedle/17661'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1450 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>69 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>1000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/samo-450-rsd-za-dve-porcije-pohovane-piletine-sa-susamom-prilog-grilovano-povrce-gratis-tulumbe-ili-knedle-17661-154527.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Samo 250 rsd za 10 cevapa na kajmaku (350 gr) za jednu osobu + gratis kolac</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>250</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/samo-250-rsd-za-10-cevapa-na-kajmaku-350-gr-za-jednu-osobu-gratis-kolac/17566' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/samo-250-rsd-za-10-cevapa-na-kajmaku-350-gr-za-jednu-osobu-gratis-kolac/17566'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>600 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>58 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>350 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/samo-250-rsd-za-10-cevapa-na-kajmaku-350-gr-za-jednu-osobu-gratis-kolac-17566-748752.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Samo 690 rsd za DVE porcije teletine ispod saca sa pekarskim krompirom i kupus salatom + GRATIS kolac</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>690</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/samo-690-rsd-za-dve-porcije-teletine-ispod-saca-sa-pekarskim-krompirom-i-kupus-salatom-gratis-kolac/17572' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/samo-690-rsd-za-dve-porcije-teletine-ispod-saca-sa-pekarskim-krompirom-i-kupus-salatom-gratis-kolac/17572'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1800 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>62 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>1110 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/690-rsd-za-dve-porcije-teletine-ispod-saca-sa-pekarskim-krompirom-i-kupus-salatom-gratis-kolac-17572-979820.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>890 rsd za dve porcije orade,krompir salate ili krompir,blitva +desert</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>890</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/890-rsd-za-dve-porcije-orade-krompir-salate-ili-krompir-blitva-desert/9135' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/890-rsd-za-dve-porcije-orade-krompir-salate-ili-krompir-blitva-desert/9135'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>2050 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>57 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>1160 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/890-rsd-za-dve-porcije-orade-krompir-salate-ili-krompir-blitva-desert-9135-482346.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>649 rsd za dve porcije lososa (snicle) + krompir salate ili krompir, blitva + gratis desert</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>649</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/649-rsd-za-dve-porcije-lososa-snicle-krompir-salate-ili-krompir-blitva-gratis-desert/7473' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/649-rsd-za-dve-porcije-lososa-snicle-krompir-salate-ili-krompir-blitva-gratis-desert/7473'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1690 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>62 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>1041 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/649-rsd-za-dve-porcije-lososa-snicla-krompir-salata-ili-krompir-blitva-gratis-desert-7473-853233.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>450 rsd za dve porcije natur snicle sa belim sosom i pohovanim pecurkama + GRATIS palacinke </h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>450</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/450-rsd-za-dve-porcije-natur-snicle-sa-belim-sosom-i-pohovanim-pecurkama-gratis-palacinke/10764' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/450-rsd-za-dve-porcije-natur-snicle-sa-belim-sosom-i-pohovanim-pecurkama-gratis-palacinke/10764'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1200 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>63 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>750 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/450-rsd-za-dve-porcije-natur-snicle-sa-belim-sosom-i-pohovanim-pecurkama-gratis-palacinke-10764-894481.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>2 special pice po ceni jedne 725rsd u renomiranoj piceriji Enzo Uno</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>725</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/2-special-pice-po-ceni-jedne-725rsd-u-renomiranoj-piceriji-enzo-uno/16330' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/2-special-pice-po-ceni-jedne-725rsd-u-renomiranoj-piceriji-enzo-uno/16330'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1450 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>50 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>725 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/2-special-pice-po-ceni-jedne-725rsd-u-renomiranoj-piceriji-enzo-uno-16330-80056.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Porcija dimljenog Å¡arana i porcija peÄenog smuÄ‘a uz prilog krompir salatu + kuver!!!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>690</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/porcija-dimljenog-sarana-i-porcija-pecenog-smudja-uz-prilog-krompir-salatu-kuver/17669' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/porcija-dimljenog-sarana-i-porcija-pecenog-smudja-uz-prilog-krompir-salatu-kuver/17669'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1440 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>52 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>750 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/porcija-dimljenog-sarana-i-porcija-dimljenog-smudja-uz-prilog-krompir-salatu-kuver-17669-446226.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>SmuÄ‘ orli, dve porcije (specijalitet kuÄ‡e)!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>720</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/smudj-orli-dve-porcije-specijalitet-kuce/16918' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/smudj-orli-dve-porcije-specijalitet-kuce/16918'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>1440 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>50 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>720 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/smudj-orli-dve-porcije-specijalitet-kuce-16918-462091.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Dve porcije girica od 300g za samo 350 RSD!!!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>350</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/dve-porcije-girica-od-300g-za-samo-350-rsd/17819' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/dve-porcije-girica-od-300g-za-samo-350-rsd/17819'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>700 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>50 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>350 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/dve-porcije-girica-za-samo-350-rsd-17819-688549.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>DVA VELIKA toÄena piva za samo 180 rsd!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>180</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/dva-velika-tocena-piva-za-samo-180-rsd/17868' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/dva-velika-tocena-piva-za-samo-180-rsd/17868'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>360 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>50 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>180 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/dva-velika-tocena-piva-za-samo-180-rsd-17868-99445.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>6500 rsd umesto 30000 rsd za KURS Å MINKANJA (M.A.C. KOZMETIKOM) uz diplomiranog Å¡minkera - Make-up artist Tamara LampiÄ‡ </h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>6500</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/6500-rsd-umesto-30000-rsd-za-kurs-sminkanja-m-a-c-kozmetikom-uz-diplomiranog-sminkera-make-up-artist-tamara-lampic/15245' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/6500-rsd-umesto-30000-rsd-za-kurs-sminkanja-m-a-c-kozmetikom-uz-diplomiranog-sminkera-make-up-artist-tamara-lampic/15245'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>30000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>78 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>23500 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/6500-dinara-umesto-30000-dinara-za-kurs-sminkanja-m-a-c-kozmetikom-uz-diplomiranog-sminkera-make-up-artist-tamara-lampic-15245-127700.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>JEDNOMESEÄŒNI KURS: engleskog, spanskog, italijanskog i nemackog za samo 950 rsd + GRATIS kupon za termine do 17h</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>950</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/jednomesecni-kurs-engleskog-spanskog-italijanskog-i-nemackog-za-samo-950-rsd-gratis-kupon-za-termine-do-17h/8015' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/jednomesecni-kurs-engleskog-spanskog-italijanskog-i-nemackog-za-samo-950-rsd-gratis-kupon-za-termine-do-17h/8015'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>2200 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>57 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>1250 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/jednomesecni-kurs-engleskog-spanskog-italijanskog-i-nemackog-za-samo-950-rsd-za-termine-do-17h-dobijate-jos-jedan-kupon-gratis-8015-808852.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Za samo 1300 rsd, umesto 3500 uz 63% popusta,  pohaÄ‘ajte kurs za MANIKIR u samom centru grada, TC City Passage, Beograd. </h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>1300</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/za-samo-1300-rsd-umesto-3500-uz-63-popusta-pohadjajte-kurs-za-manikir-u-samom-centru-grada-tc-city-passage-beograd/15587' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/za-samo-1300-rsd-umesto-3500-uz-63-popusta-pohadjajte-kurs-za-manikir-u-samom-centru-grada-tc-city-passage-beograd/15587'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>3500 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>63 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>2200 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/za-samo-1300-dinara-umesto-3500-uz-63-popusta-pohadjajte-kurs-za-manikir-u-samom-centru-grada-tc-city-passage-beograd-15587-914372.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Za samo 1350 rsd, umesto za 5000 rsd, uz popust od cak 73% naucite veÅ¡tinu da od svake fotografije napravite malo ili veliko umetniÄko delo.</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>1350</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/za-samo-1350-rsd-umesto-za-5000-rsd-uz-popust-od-cak-73-naucite-vestinu-da-od-svake-fotografije-napravite-malo-ili-veliko-umetnicko-delo/15588' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/za-samo-1350-rsd-umesto-za-5000-rsd-uz-popust-od-cak-73-naucite-vestinu-da-od-svake-fotografije-napravite-malo-ili-veliko-umetnicko-delo/15588'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>5000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>73 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>3650 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/za-samo-1350-dinara-umesto-za-5000-dinara-uz-popust-od-cak-73-naucite-vestinu-da-od-svake-fotografije-napravite-malo-ili-veliko-umetnicko-delo-15588-99594.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Tri kursa po ceni jednog!!!NovogodiÅ¡nja akcija Castle of skill.5900 rsd umesto 50000 rsd za kurs nadogradnje noktiju,kurs manikira i kurs Å¡minkanja MAC kozmetikom</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>5900</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/tri-kursa-po-ceni-jednog-novogodisnja-akcija-castle-of-skill-5900-rsd-umesto-50000-rsd-za-kurs-nadogradnje-noktiju-kurs-manikira-i-kurs-sminkanja-mac-kozmetikom/16426' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/tri-kursa-po-ceni-jednog-novogodisnja-akcija-castle-of-skill-5900-rsd-umesto-50000-rsd-za-kurs-nadogradnje-noktiju-kurs-manikira-i-kurs-sminkanja-mac-kozmetikom/16426'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>50000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>88 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>44100 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/tri-kursa-po-ceni-jednog-novogodisnja-akcija-castle-of-skill-5900-rsd-umesto-50000-rsd-za-kurs-nadogradnje-noktiju-kurs-manikira-i-kurs-sminkanja-mac-kozmetikom-16426-514330.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>SERTIFIKOVANI KURS TAJLANDSKE ILI SHIATZU MASAÅ½E!!! 15.000 rsd umesto 36.000 rsd</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>15000</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd/17297' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd/17297'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>36000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>58 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>21000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd-17297-179023.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Kurs kozmetiÄko-higijenske masaÅ¾e! (masaÅ¾a lica, anticelulit masaÅ¾a, osnove limfne drenaÅ¾e, redukcije abdomena...)</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>7000</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena/17298' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena/17298'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>20000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>65 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>13000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena-17298-394044.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Iznajmljivanje komplet ski opreme za odrasle na 7 do 10 dana</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>3750</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/iznajmljivanje-komplet-ski-opreme-za-odrasle-na-7-do-10-dana/17409' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/iznajmljivanje-komplet-ski-opreme-za-odrasle-na-7-do-10-dana/17409'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>4690 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>20 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>940 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/iznajmljivanje-komplet-ski-opreme-za-odrasle-na-7-do-10-dana-17409-14961.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Iznajmljivanje deÄijih skija na 7-10 dana samo 2500 rsd</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>2500</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/iznajmljivanje-decijih-skija-na-7-10-dana-samo-2500-rsd/17428' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/iznajmljivanje-decijih-skija-na-7-10-dana-samo-2500-rsd/17428'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>4500 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>44 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>2000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/iznajmljivanje-decijih-skija-na-7-10-dana-samo-2500-rsd-17428-910290.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Platite vauÄer od 100rsd za popust od 20% na usluge servisiranja skija</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>100</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/platite-vaucer-od-100rsd-za-popust-od-20-na-usluge-servisiranja-skija/17450' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/platite-vaucer-od-100rsd-za-popust-od-20-na-usluge-servisiranja-skija/17450'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>100 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>0 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>0 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/platite-vaucer-od-100rsd-za-popust-od-20-na-usluge-servisiranja-skija-17450-660278.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Servis-reparacija skija (oÅ¡trenje,voskiranje i popunjavanje skija plastikom) samo 1250rsd</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>1250</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/servis-reparacija-skija-ostrenje-voskiranje-i-popunjavanje-skija-plastikom-samo-1250rsd/17458' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/servis-reparacija-skija-ostrenje-voskiranje-i-popunjavanje-skija-plastikom-samo-1250rsd/17458'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>2000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>38 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>750 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/servis-reparacija-skija-ostrenje-voskiranje-i-popunjavanje-skija-plastikom-samo-1250rsd-17458-4575.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Opredelite se za jedan od tri nivoa kursa masaÅ¾e uz sertifikat po zavrÅ¡etku!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>6500</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku/17394' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku/17394'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>15000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>57 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>8500 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku-17394-700857.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Opredelite se za jedan od tri nivoa kursa masaÅ¾e uz sertifikat po zavrÅ¡etku!</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>6500</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku/17569' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku/17569'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>15000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>57 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>8500 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/opredelite-se-za-jedan-od-tri-nivoa-kursa-masaze-uz-sertifikat-po-zavrsetku-17569-807399.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Kurs kozmetiÄko-higijenske masaÅ¾e! (masaÅ¾a lica, anticelulit masaÅ¾a, osnove limfne drenaÅ¾e, redukcije abdomena...)</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>7000</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena/17570' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena/17570'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>20000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>65 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>13000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/kurs-kozmeticko-higijenske-masaze-masaza-lica-anticelulit-masaza-osnove-limfne-drenaze-redukcije-abdomena-17570-842740.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>SERTIFIKOVANI KURS TAJLANDSKE ILI SHIATZU MASAÅ½E!!! 15.000 rsd umesto 36.000 rsd</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>15000</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd/17571' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd/17571'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>36000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>58 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>21000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/sertifikovani-kurs-tajlandske-ili-shiatzu-masaze-15-000-rsd-umesto-36-000-rsd-17571-522580.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Obuka za kozmeticara samo 13000 rsd  </h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>13000</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/obuka-za-kozmeticara-samo-13000-rsd/1195' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/obuka-za-kozmeticara-samo-13000-rsd/1195'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>26000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>50 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>13000 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/kompletna-obuka-za-kozmeticara-samo-13200-odaberite-kurs-koji-vam-odgovara-1195-211217.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>777 din za izradu i detaljno tumaÄenje natalne karte</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>777</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/777-din-za-izradu-i-detaljno-tumacenje-natalne-karte/16599' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/777-din-za-izradu-i-detaljno-tumacenje-natalne-karte/16599'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>3000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>74 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>2223 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/777-din-za-izradu-i-detaljno-tumacenje-natalne-karte-16599-778360.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Umesto 17 000 uz 74% popusta, za samo 4440 dinara pohaÄ‘ajte kurs za nadogradnju noktiju u samom centru grada u TC City Passage, Beograd. </h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>4440</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/umesto-17-000-uz-74-popusta-za-samo-4440-dinara-pohadjajte-kurs-za-nadogradnju-noktiju-u-samom-centru-grada-u-tc-city-passage-beograd/7348' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/umesto-17-000-uz-74-popusta-za-samo-4440-dinara-pohadjajte-kurs-za-nadogradnju-noktiju-u-samom-centru-grada-u-tc-city-passage-beograd/7348'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>17000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>74 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>12560 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/umesto-17-000-uz-74-popusta-za-samo-4440-dinara-pohadjajte-kurs-za-nadogradnju-noktiju-u-samom-centru-grada-u-tc-city-passage-beograd-7348-722094.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>
<tr style='background:#FFF; border-bottom:1px dashed #545454;'>
<table width='640' cellspacing='0' cellpadding='15' border='0' bgcolor='#FFFFFF' align='center' style='border-bottom:1px dashed #545454;' ><tbody>
<tr>
<td colspan='2' style='border-bottom:1px solid #ececec;'>
<h2 style='margin:0; padding:0; font-style: italic; color:#545454;'>Za neverovatnih 1550 rsd, umesto 5000 rsd, za dva dana obuke, nauÄite isplesti pletenice sebi i drugima</h2>
</td>
</tr>
<tr>
<td width='340' valign='top'>
<h3 style='display:block; width:80px; font-size: 16px; margin:0; padding: 0; color:#454545; float:left;'>Cena <strong style='font-size:24px;'>1550</strong> dinara</h3>
<a alt='http://www.bigpopust.com/sr/ponuda/za-neverovatnih-1550-rsd-umesto-5000-rsd-za-dva-dana-obuke-naucite-isplesti-pletenice-sebi-i-drugima/15068' style='display:block; width:190px; background:url("http://www.bigpopust.com/images/news-button.jpg") top left no-repeat; float:right; text-align: center; padding:11px 0 11px 10px; color:#FFF; font-size:24px; font-style: italic; text-decoration:none;' href='http://www.bigpopust.com/sr/ponuda/za-neverovatnih-1550-rsd-umesto-5000-rsd-za-dva-dana-obuke-naucite-isplesti-pletenice-sebi-i-drugima/15068'>Pogledaj ponudu</a>
<br clear='all'>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px; border-right:2px solid #545454;'>Vrednost:<br>5000 din</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; border-right:2px solid #545454;'>Popust:<br>69 %</h4>
<h4 style='display:block; font-style: italic; float:left; width:100px; padding:10px 0px 10px 10px; '>UÅ¡teda:<br>3450 din</h4>
<br clear='all'>
</td>
<td align='right' valign='top'>
<img src='http://www.bigpopust.com/uploads/uploaded_pictures/_content_offers/620x318/za-neverovatnih-1550-dinara-umesto-za-5000-dinara-popust-od-69-za-dva-dana-obuke-naucite-isplesti-pletenice-sebi-i-drugima-15068-133624.jpg' style='width:250px; height:128px; background:grey;' />
</td>
</tr>
</tbody>
</table>
</tr>

                    
                    <!-- KRAJ PONUDA -->
                    
                   
                    <tr bgcolor="#545454">
                        <td style="background-color:#444444">
                        <table width="640" cellspacing="0" cellpadding="15" border="0" align="center" bgcolor="#545454" style="padding:15px;">
                            <tbody>
                                <tr>
                                    <td width="300" valign="top">
                                   	<p style="color:#f1f1f1; margin:0;">Agencija za marketing BiGpopust<br>

									    Sediste: Narodnih heroja 40<br> 11070 &ndash; Novi Beograd<br>
									
									    Maticni broj: 62860499<br>
									
									    PIB: 107603960<br>
									
									    Tekuci racun: 205-178534-23<br>
									
									    E-mail:<br>
									
									    info@bigpopust.com (za sva pitanja)<br>
									
									    office@bigpopust.com (za poslovne partnere)<br>
									
									    Tel/fax<br>
									
									    011/2608-133<br>
									
									    060/3121-512</p>
                                    
                                    </td>
                                     <td valign="top">
                                   		<p style="color:#f1f1f1; margin:0;">Ukoliko Å¾elite da se odjavite sa BiGpopust Newsletter liste kliknite na dugme ispod</p>
                                    	<p><a style="background:url('http://www.bigpopust.com/images/odjavi-se.jpg') top center no-repeat; display:block; text-align: center; padding:10px; color:#FFFFFF; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration: none;" alt="http://www.bigpopust.com/sr/odjava-newsletter" href="http://www.bigpopust.com/sr/odjava-newsletter">Odjavi se?</a></p>
                                    	<p>Ukoliko ne moÅ¾ete da kliknete na link upiÅ¡ite u VaÅ¡ internet browser www.bigpopust.com/sr/odjava-newsletter</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table bgcolor="f6f5f5" cellpadding="15" style="padding:15px; border:1px solid #545454;" align="center" width="640">
                        	<tbody>
                        		<tr  style="margin:0; padding:0;">
                        			<td style="margin:0; padding:0;">
                        				<p style="font-size:12px; color:#878585; margin:0;">PoÅ¡tujemo VaÅ¡u privatnost i ne Å¾elimo da Vam Å¡aljemo e-mail sa BiGpopust
ponudama, ako iz bilo kog razloga ne Å¾elite da ih primate.<br><br>

Unapred se izvinjavamo ako smo Vam stvorili neprijatnosti. Ukoliko ste ovu
poruku dobili greÅ¡kom, molimo Vas da je obriÅ¡ete. Sve poruke koje Å¡aljemo
su skenirane od virusa.<br><br>

Molimo vas nemojte odgovarati na ovu poruku.<br><br>

Za sve dodatne informacije kontaktirajte nas putem e-maila <a href="mailto:office@bigpopust.com">office@bigpopust.com</a></p>
                        			</td>
                        		</tr>
                        	</tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
